<div class="contenedorheader">
    <div>
        <ul>
            <li><img src="https://acoes.org/wp-content/uploads/2023/10/LG-FUNDACION-BN-2-2.png" alt=""></li>
        </ul>
    </div>
    <div>
        <nav>
            <ul>
                {{#each nav}}
                <li> <a href="{{url}}">{{nombre}}</a> </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</div>