<header>
	<input type="checkbox" id="check" />
	<label class="hamburger" for="check">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
	<section class="branding">
		<img src="	https://acoes.org/wp-content/uploads/2023/10/LG-FUNDACION-BN-2-2.png" alt="logo" />
		<h1>ACOES</h1>
	</section>
	<nav>
		<ul>
			{{#each navegacion}}
				<li><a href={{url}}>{{name}}</a></li>
			{{/each}}
		</ul>
	</nav>
</header>